body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    width: 100%;
}

#cabecera{
    width: 100%;
    }

#cajaSuperior {
    width: 100vw;
    height: 100vh;
    background-image: url(imgs/fondo.jpg);
    background-size: contain;
    padding: 20vw;
}

a {
    color: white;
    text-decoration: none;
}

.movdcha {
    position: relative;
    transform: translate(15%);
    transition: left 1s, transform 1s;
}

.movdcha{
    text-decoration-color: antiquewhite;
    font-family: Helvetica Neue, sans-serif;
    padding-left: 100px;
}
  .movdcha:hover {
    left: 50px;
}

#cajaCentral {
    height: 100vh;
    padding: 15vw;
}

#milista li {
    display: inline-block;
    padding: 30px;

}

h1 {
    font-size: 64px;
    line-height: 104px;
    font-weight: 100;
}

h2 {
    font-size: 18px;
    color: darkgray;
}

p {
    font-size: 36px;
    line-height: 60px;
    font-weight: 100;
}

#cajaInferior {
    height: 100vh;
    background-color: black;
}

ul {
    list-style: none;
    font-size: 30px;
    font-weight: 30px;
    padding: 15vw;
    color: black;
}

li {
    padding: 10px;
}

.menu {
    padding: 20px;
    width: 100%;
    height: 50px;
    background-color: lightgray;
    position: fixed;
}

.sin_enlace:hover {
    text-decoration: line-through
}

.con_enlace:hover {
    text-decoration: underline;
    color: skyblue;
}

</style >
