h1 {
font-family: Futura, sans-serif;
    font-weight: 200;
}
body {
    font-family: Futura, sans-serif;
    color:burlywood
}
.box{ display: none; width: 100%; } a:hover + .box,.box:hover{ display: block; position: relative; z-index: 100; } 