* {
box-sizing: border-box;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 90px;
    font-weight: 300;
    text-align: left;
    padding: 5%;
}

h3{
    font-family: 'Raleway', sans-serif;
    padding: 5%;
    font-size: 37px;
}

.raleway{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}

body {
    font-family: sans-serif, verdana;
}


.columna{
    display: block;
}

#galeria img{
    width: 100%;
    height: 100%;
    }

#galeria .col-lg-4{
    margin: 0 !important;
    padding: 25px;

}

#galeria img:hover{
    border: 8px solid #ffffff 
}

.div-imagen {
  display:inline-block;
  position:relative;
}

.div-imagen > div {
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  padding:10px;
  margin:0;
}

.desvanecer:hover {
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}
.centro{
text-align: center;    
    justify-items: center;
    padding: 8wv;
}

.fila { 
    display: flex;
}
.block{
    float: inherit;
}
.indicebajo {
    list-style: none;
    font-size: 30px;
    font-weight: 30px;
    padding: 5vw;
    color: black;
}

.sin_enlace:hover {
    text-decoration: line-through
        }

.con_enlace:hover {
    text-decoration: underline;
    color: skyblue;
}

.abajo{
    display: flex;
    flex-flow: column wrap;
    height: 90vw;
    width: 100%;
    margin-left: 10wv;
}


.navbar.navbar-2 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
}

.navbar.navbar-3 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=6a1b9a');
}
.navbar-static-top



