h1 {
    font-family: Futura, sans-serif;
    font-weight: 200;
    padding: 50px 50px 75px 10px;
}

body {
    font-family: Futura, sans-serif;∫
}
 
.box {
    display: none;
    width: 100%;
    padding: 10px;
}

a:hover + .box,
.box:hover {
    display: block;
    position: relative;
    z-index: 100;
}

.separado {
   padding: 20px 50px 75px 10px;
}

.raleway {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}
img{
    max-width:100%;
    min-width: 25%;
    width:100%;
    height:100%;
}
aside {
    float: right;
    
}

.black{
    text-decoration-color: black;
}
article {
    float: left;
}

.imagencontacto {
    padding: 10px;
    width: 100%;
}
img.pequeña{
  width: 50px; height: 50px;
}

.imagenpequena {
    width: 50px; height: 50px;
}
